/* Nav Menu */

.headerNav {
  display: none;
  width: fit-content;
}

.headerNav__list {
  display: flex;
  list-style: none;
  gap: var(--space-2);
}

.headerNav__item {
  display: flex;

  justify-content: center;
  gap: var(--space-1);
}

.headerNav__label,
.headerNav__link {
  color: var(--header-fg);
}

.headerNav__link:hover {
  color: var(--header-hover);
}

@media (min-width: 768px) {
  .headerNav {
    display: block;
  }
}
