.snippets {
  position: relative;
}

.aside {
  position: relative;
  display: none;
  min-height: 100%;
}

.snippets .mobileSnippetControls {
  display: none;
}

.snippetsZero {
  border: 1px solid var(--info);
  padding: 1rem;
}

@media (min-width: 768px) {
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .main .mobileSnippetControls {
    display: flex;
  }
}
