.snippetsCard {
  min-height: fit-content;
}

.snippetsCard__inner {
  height: stretch;
  text-wrap: balance;
}

.snippetsCard__link {
  justify-content: unset;
  align-items: unset;
  padding: unset;

  flex-direction: column;

  gap: var(--space-3);
}
.snippetsCard__text {
  text-wrap: balance;
}
