.main {
  position: relative;
}

.main .mobileCollectionControls {
  display: flex;
}

.aside {
  position: relative;
  display: none;
  min-height: 100%;
}

@media (min-width: 768px) {
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main .mobileCollectionControls {
    display: none;
  }
}
